<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <span class="navbar-brand-container">
            <NavLink class="navbar-brand fade-left" href="#">Kai Schellin</NavLink>
        </span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink2 class="nav-link" href="/">Home</NavLink2>
                </li>
                <li class="nav-item">
                    <NavLink2 class="nav-link" href="/experience">Experience</NavLink2>
                </li>
                <li class="nav-item">
                    <NavLink2 class="nav-link" href="/projects">Projects</NavLink2>
                </li>
            </ul>
        </div>
    </div>
</nav>