@page "/projects/turbine"
<h1>Savonius wind turbine</h1>

<p>
    I also did a portion of the CAD work (roughly 1/3) including the base plate and motor mounting assembly. On top of that, I fabricated the blades from plywood using templates to get an accurate profile.
</p>
<p>
    In my sophomore design class (ME 270), I worked on a team of five to design and prototype a portable vertical
    axis wind turbine. We used the DFSS process to carry the project to completion.
</p>
<p>
    We started by identifying the need for accessible power generation which could be deployed in remote locations.
    From there, we picked cost and performance targets (less than 200 dollars to build, and capable of generating 
    5 watts). We researched various types of wind turbines and settled on designing a savonius vertical axis wind 
    turbine due to relative ease of manufacturing.
</p>
<p>
    I was responsible for a portion of the mathematical model, taking a separate approach to another teammate. 
    Calculations involved forces generated at different wind speeds, friction losses, and motor efficiency. 
</p>

