@page "/experience"

<div>
    <h1>Work experience</h1>

    <p>
        I have been working with John Deere's part time student program as a "part time student IT" from December 2021 to the present day. 
        I have worked on an agile team, and have collaborated with project managers, UX designers, and across teams
        to deliver value to the company. I have seen several projects to completion, and am actively working on others.
        Prior to Deere, I interned at AgriSync where I developed an external web diagnostic tool.
        Below is a list of projects I have worked on, from newest to oldest.
    </p>

    <ul>
        <li>Dynamics 365 SMS integration <span class="badge bg-warning">In progress</span></li>
        <li><NavLink href="/projects/work/diagnostic-tool">Integrated diagnostic tool (web)</NavLink> <span class="badge bg-success">Finished</span></li>
        <li><NavLink href="/projects/work/widget">Communications widget</NavLink> <span class="badge bg-success">Finished</span></li>
        <li><NavLink href="/projects/work/diagnostic-tool">Integrated diagnostic tool (mobile)</NavLink> <span class="badge bg-success">Finished</span></li>
        <li><NavLink href="/projects/work/diagnostic-tool">External diagnostic tool</NavLink> <span class="badge bg-success">Finished</span></li>
    </ul>

    <h1>Education</h1>

    <p>
        I have a Bachelor's degree in Mechanical Engineering from Iowa State University. During my time at ISU, I have 
        learned a variety of engineering techniques including TRIZ, CAD, FEA, and more. I have worked in teams to complete
        projects of varying scope including those shown below:
    </p>

    <ul>
        <li>Steel door skin assembly mechanism <span class="badge bg-success">Finished</span></li>
        <li>LTA aircraft with altitude control <span class="badge bg-success">Finished</span></li>
        <li>Control algorithm for a small scale HVAC system <span class="badge bg-success">Finished</span></li>
        <li><NavLink2 href="/projects/college/turbine">Savonius wind turbine</NavLink2> <span class="badge bg-success">Finished</span></li>
        <li><NavLink2 href="/projects/college/ik-trajectory-3r-solver">Inverse kinematics and joint trajectory solver for a 3R robot</NavLink2> <span class="badge bg-success">Finished</span></li>
    </ul>
</div>