@page "/"

<PageTitle>Home</PageTitle>

<h1>About</h1>

<p>
    My name is Kai Schellin. I am an ISU graduate with a BS of Mechanical engineering with experience in
    programming. I’m an active learner who seeks information outside of my own fields. This is one of my
    greatest strengths; I can be given a project where I have little experience with, but I can research 
    and learn the relevant topics and have a working feature by the end of it.
</p>

<p>
    I’m a tinkerer at heart. I have several technical hobbies including programming, game development, and 
    doing some work on my car. I have made a networking library for Dotnet, a printing program, an RDP
    clone, and some small (mostly unfinished) games. I have a server running Proxmox, where I’m 
    experimenting with Docker, TrueNas, along with others. It is also where I’m hosting this site from!
</p>