@page "/"

<PageTitle>Home</PageTitle>

<div>
    <h1>About</h1>

    <p>
        Hi, I'm Kai Schellin. I graduated with distinction from Iowa State University this May with a 
        degree in mechanical engineering. I have a unique mixture of engineering and software skills which
        I developed during my time at ISU while working in John Deere's part-time student IT program. I have
        worked on several projects including but not limited to:
    </p>
    <ul>
        <li>An LTA aircraft</li>
        <li>An steel-door assembly mechanism for Curries</li>
        <li>A security focused networking library for dotnet</li>
        <li>An RDP clone</li>
        <li>John Deere's ExpertConnect Web Widget</li>
        <li>A network diagnostics tool for John Deere ExpertConnect</li>
        <li>An SMS integration for Dynamics 365 Sales</li>
        <li>A Savonius wind turbine</li>
    </ul>
</div>
