@page "/projects"

<div>
    <h1>Projects</h1>
    <p>
        This page contains links talking about the projects included in the "Experience" page, as well as 
        some of my personal projects. I will fill out more links as I add their pages.
    </p>
    
    <h3>Work experience</h3>

    <ul>
        <li><NavLink href="/projects/diagnostic-tool">Integrated diagnostic tool (web)</NavLink></li>
        <li><NavLink href="/projects/widget">Communications widget</NavLink></li>
        <li><NavLink href="/projects/diagnostic-tool">Integrated diagnostic tool (mobile)</NavLink></li>
        <li><NavLink href="/projects/diagnostic-tool">External diagnostic tool</NavLink></li>
    </ul>
    
    <h3>Education</h3>

    <ul>
        <li><NavLink2 href="/projects/turbine">Savonius wind turbine</NavLink2></li>
        <li><NavLink2 href="/projects/ik-trajectory-3r-solver">Inverse kinematics and joint trajectory solver for a 3R robot</NavLink2></li>
    </ul>
    
    <h3>Personal</h3>
    <ul>
        <li><NavLink2 href="/projects/network-library">C# Network library</NavLink2></li>
        <li><NavLink2 href="/projects/homelab">Homelab</NavLink2></li>
    </ul>
</div>
