@page "/project/widget"
<h1>Communications widget</h1>

<div class="d-flex gap-3">
    <img src="/widget.png" alt="Web widget image" />
    <p>
        The John Deere ExpertConnect web widget was designed to be an initial point of contact for dealers' customers
        when interacting with their site. Dealers can create multiple widget instances, each with several customization 
        options including text, colors, allowed domains, and more. Their customers 
    </p>
</div>
